$playground-background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(35,34,55,1) 25%, rgba(60,60,70,1) 50%, rgba(59,60,66,1) 75%, rgba(71,74,75,1) 100%);
$background-color: #000119;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: #171616;

  font-family: 'Roboto', sans-serif;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#menu {
    width: 20vw;
    height: 100vh;

    overflow-y: scroll;
    background-color: $background-color;

    display: flex;
    align-items: initial;
    justify-content: flex-start;
    flex-direction: column;
    // flex-wrap: wrap;
}

#playground {
    width: 60vw;
    height: 100vh;
    
    background: whitesmoke;

    // z-index: -1;
}

#properties {
    width: 20vw;
    height: 100vh;

    background-color: black;
}

#toolbar {
    width: 100vw;
    height: 10vh;
    
    position: absolute;
    left: 0;
    top: 0;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: 10;
}

.fill {
    width: 20vh;
    height: 15vh;
}

.playground.fill {
    position: absolute;
    top: 0;
    left: 20vw;
}

.button {
    cursor: pointer;

    width: auto;
    height: auto;

    background-color: transparent;
    box-shadow: rgba(46, 211, 240, 0.4) -1px 1px 1px;
}

#test {
    position: absolute;

    width: 500px;
    height: 500px;
}