

.close {
    width: 2vh;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;

    background-color: red;
}

.bus {
    width: 2vh;
    aspect-ratio: 1/1;

    position: absolute;

    background-color: black;
}

.bus.left {
    top: 50%;
    left: 0;
}

.bus.right {
    top: 50%;
    right: 0%;
}