<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.js" integrity="sha512-CMF3tQtjOoOJoOKlsS7/2loJlkyctwzSoDK/S40iAB+MqWSaf50uObGQSk5Ny/gfRhRCjNLvoxuCvdnERU4WGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/menu.css' %}">
    <link rel="stylesheet" href="{% static 'style/toolbar.css' %}">
    <link rel="stylesheet" href="{% static 'style/component.css' %}">
    <link rel="stylesheet" href="{% static 'style/analysis.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alloy</title>
</head>
<body>
    
    <div id="menu">
        <div class="bar">
            <div class="button">COMPONENTS</div>
        </div>
        <div class="box">
            <div id="sine" class="component sine"></div>
            <div class="component fts"></div>
            <div class="component ftj"></div>
            <div class="component ftb"></div>
            <div class="component ma"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
            <div class="component"></div>
        </div>
    </div>
    <div id="playground" class="playground" onmouseover="setHoverTrue();" onmouseout="setHoverFalse();">
    <!-- <canvas id="test" width="500" height="500" onload="init()"></div> -->
    </div>
    <div id="properties"></div>

    <script type="text/javascript" charset="UTF-8" src="{% static 'src/menu.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'src/playground.js' %}"></script>
    <script type="text/javascript" charset="UTF-8" src="{% static 'src/component.js' %}"></script>
</body>
</html>